# Exclude session_data folder
session_data/

# Exclude videos folder
videos/

# Python-related files
__pycache__/
*.py[cod]
*$py.class

# Environment and IDE files
.env
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Dependency directories
venv/
env/

# Ignore CodeAide.app directory
CodeAide.app/

# Ignore CodeAide.dmg file
CodeAide.dmg

# Build artifacts
build/
dist/
*.spec
!build_scripts/codeaide.spec

# Ignore .dmg files
*.dmg

# Ignore .egg-info directories
*.egg-info/

# Ignore the models folder
models/
