# Exclude generated code folder
generated_code/

# Exclude videos folder
videos/

# Python-related files
__pycache__/
*.py[cod]
*$py.class

# Environment and IDE files
.env
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Dependency directories
venv/
env/

# Ignore CodeAide.app directory
CodeAide.app/

# Ignore CodeAide.dmg file
CodeAide.dmg

# Ignore build directory
build/

# Ignore codeaide.spec file
codeaide.spec

# Ignore dist directory
dist/