anthropic==0.34.2
google-generativeai==0.8.3
python-decouple==3.8
virtualenv==20.16.2
numpy==1.26.4
numpy==1.26.4
openai
hjson
pyyaml
pytest
pytest-qt
black
isort
pre-commit
pyqt5
pygments
flake8
flake8-unused-arguments
autoflake
openai-whisper
sounddevice
scipy
ffmpeg-python
